<div class="w-full relative">
    <p class="font-brush sm:text-[20rem] text-[10rem] w-fit h-[22rem] m-auto">Drills</p>
    <p class="text-teal-600 tracking-widest sm:text-4xl w-fit m-auto">SUBMISSION</p>
</div>   