<div class="lg:grid lg:grid-cols-2 mb-96 text-justify w-full">
    <div class="w-full xl:pl-44 sm:pl-10 sm:pr-10 pl-5 pr-5">
        <h1 class="text-6xl font-bold">NUESTRA <br>ESCUELA</h1>
        <p class="justify-text">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
        <p class="justify-text">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
    </div>
    <div class="w-full sm:w-full flex flex-col md:h-64 sm:pl-20 xl:pr-44 sm:pr-10 pl-0">
        <img class="h-auto max-w-screen" src="/drills-landing-page/images/groupdrills1.jpg" alt="Víctor Cortés">
    </div>
</div>
<div class="lg:grid lg:grid-cols-2 pt-36 mb-96 text-justify w-full">
    <div class="w-screen sm:w-full flex flex-col md:h-64 xl:pl-44 md:pl-10 pl-0">
        <img class="h-auto max-w-screen" src="/drills-landing-page/images/groupdrills1.jpg" alt="Víctor Cortés">
    </div>
    <div class="w-full sm:pl-20 xl:pr-44 sm:pr-10 pl-5 pr-5">
        <h1 class="sm:text-6xl text-5xl font-bold pb-4">MÚLTIPLES <br>DISCIPLINAS</h1>
        <p class="justify-text">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
        <p class="justify-text">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
    </div>
</div>
<div class="lg:grid lg:grid-cols-2 pt-36 mb-96 text-justify w-full">
    <div class="w-full xl:pl-44 sm:pl-10 sm:pr-10 pl-5 pr-5">
        <h1 class="text-6xl font-bold pb-4">CLASES <br>INFANTILES</h1>
        <p class="justify-text">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
        <p class="justify-text">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
    </div>
    <div class="w-screen sm:w-full flex flex-col md:h-64 sm:pl-20 xl:pr-44 sm:pr-10 pl-0">
        <img class="h-auto max-w-screen" src="/drills-landing-page/images/groupdrills1.jpg" alt="Víctor Cortés">
    </div>
</div>
<div class="lg:grid lg:grid-cols-2 pt-36 mb-24 text-justify w-full">
    <div class="w-screen sm:w-full flex flex-col md:h-64 xl:pl-44 md:pl-10 pl-0">
        <img class="h-auto max-w-screen" src="/drills-landing-page/images/groupdrills1.jpg" alt="Víctor Cortés">
    </div>
    <div class="w-full pl-20 xl:pr-44 pr-10 sm:pl-20 sm:pr-10 pl-5 pr-5">
        <h1 class="text-6xl font-bold pb-4">¡VEN A <br>PROBAR!</h1>
        <p class="justify-text">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
        <p class="justify-text">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
    </div>
</div>