<div class="lg:grid lg:grid-cols-2 sm:mb-72 mb-28 text-justify w-full">
    <div class="w-full xl:pl-44 sm:pl-10 sm:pl-20 sm:pr-20 pl-8 pr-8 sm:pb-0 pb-8">
        <h1 class="2xl:text-8xl sm:text-6xl text-5xl font-bold">NUESTRA<br>ESCUELA</h1>
        <p class="justify-text pt-4 sm:text-[20px] sm:leading-8 text-base">La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés
            cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.
            No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer
            ya sea como competidor o como practicante más casual.
        </p>
        <p class="justify-text">
        </p>
    </div>
    <div class="w-full sm:w-full flex flex-col md:h-64 sm:pl-20 xl:pr-44 sm:pr-10 pl-0">
        <div id="nuestraEscuelagallery" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                 <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/drills-landing-page/images/groupdrills1.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                    <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
            </div>
        </div>
        <!--<img class="h-auto max-w-screen" src="/drills-landing-page/images/groupdrills1.jpg" alt="Víctor Cortés">-->
    </div>
</div>
<div class="lg:grid lg:grid-cols-2 sm:mb-72 mb-28 text-justify w-full sm:block sm:flex-row flex flex-col-reverse">
    <div class="w-screen sm:w-full flex flex-col xl:pl-44 md:pl-10 pl-0">
        <div class="grid grid-cols-2 gap-2">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/drills-landing-page/images/bjj.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/drills-landing-page/images/drillsmma.jpeg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/drills-landing-page/images/kickboxing.png" alt="Kick-Boxing">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/drills-landing-page/images/drillsbjj.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="w-full xl:pr-44 pr-10 sm:pl-20 sm:pr-20 pl-8 pr-8 sm:pb-0 pb-8">
        <h1 class="2xl:text-8xl sm:text-6xl text-5xl font-bold pb-4">MULTIPLES DISCIPLINAS</h1>
        <p class="justify-text pt-4 sm:text-[20px] sm:leading-8 text-base">El gimnasio es multidisciplinario, por lo que imparte clases de varias artes marciales, no importa tu nivel o condición física, en Drills nos adaptamos a tu curva de aprendizaje. Las clases son Brazilian Jiu Jitsu (BJJ), BJJ Kids, Grappling, Kick Boxing y MMA.
        </p>
        <p class="justify-text pt-4 sm:text-[20px] sm:leading-8 text-base">Además, ocasionalmente, algunos de los mejores profesionales en la matería realizan en el gimnasio seminarios didácticos también para todos los niveles
        </p>
    </div>
</div>
<div class="lg:grid lg:grid-cols-2 sm:mb-72 mb-28 text-justify w-full">
    <div class="w-full xl:pl-44 sm:pl-10 sm:pl-20 sm:pr-20 pl-8 pr-8 sm:pb-0 pb-8">
        <h1 class="2xl:text-8xl sm:text-6xl text-5xl font-bold">BJJ KIDS</h1>
        <p class="justify-text pt-4 sm:text-[20px] sm:leading-8 text-base">En Drills también se realizan clases de Brazilian Jiu Jitsu infantiles, estas para menores de entre 4 y 12 años. Las clases están enfocadas en enseñar los fundamentos del arte marcial, con una dinámica divertida y sin olvidar los valores de la misma.
        </p>
    </div>
    <div class="w-full sm:w-full flex flex-col md:h-64 sm:pl-20 xl:pr-44 sm:pr-10 pl-0">
        <div id="bjjKidsGallery" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                 <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/drills-landing-page/images/groupdrills1.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                    <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
            </div>
        </div>
        <!--<img class="h-auto max-w-screen" src="/drills-landing-page/images/groupdrills1.jpg" alt="Víctor Cortés">-->
    </div>
</div>
<div class="lg:grid lg:grid-cols-2 sm:pt-36 mb-24 text-justify w-full sm:block sm:flex-row flex flex-col-reverse">
    <div class="w-screen sm:w-full flex flex-col h-auto xl:pl-44 md:pl-10 pl-0">
        <iframe class="xl:h-[500px] 2xl:w-auto h-[300px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.5001845324027!2d2.1233732118340756!3d41.51510488794333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a495d148ed18c5%3A0xa98818ab96189d34!2sDrills%20Martial%20Arts%20Academy%20%7C%20Jiu%20Jitsu%20-%20Kickboxing%20-%20MMA%20-%20No-Gi%20-%20BJJ%20Kids!5e0!3m2!1sen!2ses!4v1709057648368!5m2!1sen!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="w-full xl:pr-44 pr-10 sm:pl-20 sm:pr-20 pl-8 pr-8 sm:pb-0 pb-8">
        <h1 class="2xl:text-8xl sm:text-6xl text-5xl font-bold pb-4">¡VEN A <br>PROBAR!</h1>
        <p class="justify-text pt-4 sm:text-[20px] sm:leading-8 text-base">El gimnasio se situa en el centro de Barberá del Vallés, a pocos metros del ayuntamiento de la ciudad. Si tienes cualquier pregunta, no dudes en
            contactar con nosotros, ya sea de manera presencial en el gimnasio donde, con gusto, te atenderemos en persona, o mediante las redes sociales o teléfono especificado en el pie de página.
            <br>Te estamos esperando!
        </p>
    </div>
</div>