<div class="grid h-24 place-items-center pt-32 mt-36 text-justify">
    <p>La escuela de artes marciales Drills, situada en el centro de Barberá del Vallés y capitaneada por Víctor Cortés</p>
    <p>cuenta con los mejores profesores especializados en cada una de las distintas disciplinas impartidas por el gimnasio.</p>
    <p>No importa tu nivel ya que los profesores se adaptan a las necesidades individuales del alumno para que este pueda crecer</p>
    <p>ya sea como competidor o como practicante más casual.</p>
</div>