<nav class="w-full flex flex-wrap items-center bg-teal-900 mx-auto justify-between">    
    <a class="w-auto">
        <p>logo</p>
    </a>
    <div class="w-auto">
        <ul class="font-medium flex items-center h-24">
            <li>Instalaciones</li>
            <li>Profesores</li>
            <li>Horarios</li>
            <li>Disciplinas</li>        
        </ul>
    </div>
    <div class="w-auto">
        Contact
    </div>
</nav>