<nav class="fixed w-full flex flex-wrap items-center mx-auto justify-between mt-6 z-50">    
    <a id="homeButton" href="#" class="w-auto">
        <div class="relative ml-12">
            <p class="font-[BrushScriptStd] w-fit text-6xl">Drills</p>
            <p class="text-teal-600 tracking-widest text-[7px] w-fit m-auto">SUBMISSION</p>
        </div>   
    </a>
    <div class="w-auto bg-teal-900 rounded-full border-[1px] border-white">
        <ul class="font-medium flex items-center h-20">
            <li class="pr-20 pl-10"><a class="" href="/instalaciones">Instalaciones</a></li>
            <li class="pr-20"><a href="/profesores">Profesores</a></li>
            <li class="pr-20"><a href="/horarios">Horarios</a></li>
            <li class="pr-10"><a href="/disciplinas">Disciplinas</a></li>        
        </ul>
    </div>
    <div class="w-auto mr-12">
        <a id="contactButtton">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" color="rgb(13 148 136)" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" />
            </svg>        
        </a>
    </div>
</nav>