<nav class="w-full flex flex-wrap items-center mx-auto justify-between mt-6">    
    <a class="w-auto">
        <p>logo</p>
    </a>
    <div class="w-auto bg-teal-900 rounded-full">
        <ul class="font-medium flex items-center h-20">
            <li class="pr-20 pl-10"><a href="/instalaciones">Instalaciones</a></li>
            <li class="pr-20"><a href="/profesores">Profesores</a></li>
            <li class="pr-20"><a href="/horarios">Horarios</a></li>
            <li class="pr-10"><a href="/disciplinas">Disciplinas</a></li>        
        </ul>
    </div>
    <div class="w-auto">
        Contact
    </div>
</nav>